useDynLib(forestFloor)

importFrom(Rcpp, evalCpp)
importFrom(trimTrees, cinbag)
import(kknn)

importFrom(stats,
           cor,
           prcomp,
           predict)

importFrom(graphics,
           par,
           plot,
           points)

importFrom(grDevices,
           rgb2hsv,
           hsv)           

import(rgl)

S3method(plot,forestFloor)
S3method(print,forestFloor)

export(forestFloor,
       plot.forestFloor,
       print.forestFloor,
       box.outliers,
       recTree,
       vec.plot,
       convolute_ff,
       convolute_ff2,
       convolute_grid,
       show3d_new,
       fcol)
